/* BOXES */
.sf-art{ margin-top: 2rem; }
[class*="col-"]:nth-child(1) > .sf-art{ margin-top: 0; }
	.art__pic{ margin-bottom: 1rem; display: block; }
		.art__pic img{ display: block; margin: auto; }

.sf-nwz{ margin-top: 2rem; padding-top: 1rem; border-top: 2px solid #eee; }
.bar-news [class*="col-"]:nth-child(1) > .sf-nwz{ margin-top: 0; padding-top: 0; border-top: 0; }
.col-md-8 > .sf-nwz:nth-child(1){ margin-top: 0; padding-top: 0; border-top: 0; }
	.nwz__title a{ color: #212529; }
		.nwz__title a:hover{ text-decoration: none; }
	.nwz__date{ display: inline-block; margin-bottom: .5rem; }
	.nwz__pic{ display: block; margin-bottom: .5rem; text-align: center; }

.plug{ margin-top: 2rem; }
.col-md-8 > ul > .plug:nth-child(1){ margin-top: 0; }
	.plug__auth{ padding: 0 .5rem; text-align: center; background: #eee; }
	.plug__cite blockquote{
		position: relative; margin: 0 0 2rem; padding: .5rem 1rem; font-size: 1rem; background: #eee;
		border-radius: .3rem;
	}
		.plug__cite blockquote::after{ content: ''; position: absolute; bottom: -15px; right: 1rem; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #eee; }
		.plug__cite blockquote p:last-of-type{ margin: 0; }

.bsimple{ margin: 1rem 0; padding: .5rem .5rem 1.5rem; text-align: center; }
.bsimple--red{ background: #f00; color: #fff; }
.no-gutters .bsimple--red{ border-left: 1px solid #fff; }
.no-gutters [class*="col-"]:nth-child(1) .bsimple--red{ border-left: 0; }
	.bsimple__ico{ font-size: 3rem; }
	.bsimple__ico--2x{ font-size: 5rem; }
	.bsimple__ico, .bsimple__title{ color: #f00; }
	.bsimple--red .bsimple__ico, .bsimple--red .bsimple__title{ color: #fff; }
	.bsimple p{ margin-bottom: .5rem; line-height: 1.3; }
	.bsimple p:last-of-type{ margin-bottom: 0; }

.bprize{ margin: 2rem 0; font-size: 2.3rem; text-align: center; color: #f00; }

/* SIDEBAR articles */
.sb-art{ padding: 1rem 0; border-bottom: 1px solid #eee; }
li:first-child.sb-art{ padding-top: 0; }
	.sb-art__title{ font-size: 1rem; }
		.sb-art__title a{ color: #212529; }
	.sb-art p{ margin: 0; }

.sb-plug__cite{
	position: relative; padding: .5rem; background: #eee;
	border-radius: .3rem;
}
	.sb-plug__cite::after{
		content: ''; position: absolute; bottom: -10px; right: 1rem; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #eee;
	}
	.sb-plug__cite p{ margin: 0; }
	.sb-plug__auth{ margin: .5rem 0 1rem; text-align: right; }

/* COUNTDOWN BOX */
.countdown2event{ height: 50px; }
	.countdown2event span{
		display: inline-block; width: 50px; margin: 1px; padding-bottom: .25rem; font-size: .6rem; text-align: center; background: #ddd; color: #343a40;
		border-radius: .3rem;
	}
		.countdown2event b{ display: block; padding-top: .25rem; font-size: 1.5rem; line-height: 1; }

/* LIST LOGOS */
.list-logos{ margin: 3rem 0; }
	.list-logos li{ width: 125px; margin: 10px; text-align: center; }
		.list-logos img{ max-height: 75px; }

/* BARS */
.bar{ padding: 2rem 0; }
.bar--grey{ background: #eee; }
.bar--red{ background: #f00; color: #fff; }
.bar--secondary{ background: #5a6268; color: #fff; }
.bar--dark{ background: #343a40; color: #fff; }
.bar--secondary a, .bar--dark a{ color: #fff; }


/* PECULIAR
================================================== */
/* BRANDING */
.site-brand{ padding: .5rem 0; }
	.sf-social{
		width: 32px; margin-left: .5rem; padding: .25rem; border: 1px solid #f00; text-align: center; color: #f00;
		transition: all .15s ease-in-out;
	}
		.sf-social:hover{ border-color: #b00; background: #b00; color: #fff; }

/* NAVIGATION */
.site-nav{
	padding: 0; background: #f00;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
	.navbar-brand img{ height: 50px; }
	.navbar-toggler{ padding: 15px; }
		.navbar-toggler-icon{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
	.site-nav A{
		font-weight: bold; color: #fff;
		transition: all .15s ease-in-out;
	}
	.navbar-expand-md .navbar-nav .nav-link{ padding: .75rem 1rem; }
	.nav-pills .nav-link{ border-radius: 0; }
		.site-nav .active A, .site-nav A:hover{ background: #007bff; }

/* CAROUSEL */
#sf-carousel{ background: #000; }

main h1{ margin: 0 0 2rem; }
.ev__title{ margin-bottom: 0; }
.ev__date{ margin-bottom: 2rem; }

/* SIDEBAR */
.sidebar{ margin-top: 3rem; font-size: .9rem; line-height: 1.3; }
	.sb-title{ margin-bottom: 1.5rem; padding-left: 1rem; border-left: 5px solid #f00; }

/* FOOTER */
.footer-events{ margin: 2rem 0; }
.client-info{ margin: 1rem 0; }
.bar-client{ font-size: .9rem; }
.bar-dev{ font-size: .7rem; }
.developers{ margin: 0; }

/* MEDIA QUERIES
================================================== */
@media (min-width: 576px) {
	.plug:nth-child(2n-1) .col-sm-8{
		-webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13;
	}
	.plug__cite blockquote{ margin-bottom: 0; }
		.plug__cite blockquote::after{ bottom: initial; top: 1rem; border-top: 15px solid transparent; border-bottom: 15px solid transparent; }
		.plug:nth-child(2n) .plug__cite blockquote::after{ right: -15px; border-right: 0; border-left: 15px solid #eee; }
		.plug:nth-child(2n-1) .plug__cite blockquote::after{ right: initial; left: -15px; border-left: 0; border-right: 15px solid #eee; }
}

@media (min-width: 768px) {
	/* BOXES */
	.sf-art{ margin-top: 0; }
	.nwz__pic{ margin-bottom: 0; }
	/* SIDEBAR */
	.sidebar{ margin-top: 0; }
	/* FOOTER */
	.footer-events, .client-info, .copyright{ margin: 0; }
}

@media (min-width: 992px) {
	/* LIST LOGOS */
	.list-logos li{ width: 162px; }
}

@media (min-width: 1200px) {
	/* BOXES */
	.bar-news [class*="col-"]:nth-child(2) > .sf-nwz{ margin-top: 0; padding-top: 0; border-top: 0; }
	.countdown2event{ height: 58px; }
		.countdown2event span{ width: 66px; font-size: .7rem; }
			.countdown2event b{ font-size: 2rem; }
}